<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="main">
    <div class="block">
      <label>Decimal</label>
      <input type="number" formControlName="decimal" (keyup)="decimalChanged($event)" placeholder="decimal">
    </div>
    <div class="block">
      <label>Binary</label>
      <input type="text" formControlName="binary" (keyup)="binaryChanged($event)" placeholder="binary">
    </div>
    <div class="block">
      <label>Octal</label>
      <input type="text" formControlName="octal" (keyup)="octalChanged($event)" placeholder="octal">
    </div>
    <div class="block">
      <label>Hexa </label>
      <input type="text" formControlName="hexa" (keyup)="hexaChanged($event)" placeholder="hexa">
    </div>
    <!-- <div class="block">
      <button type="submit" [disabled]="!form.valid">Submit</button>
    </div> -->
  </div>
</form>

